body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
}

.menu-entradas,
.menu-principales,
.menu-postres,
.menu-bebidas,
.menu-guarniciones {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.categoria {
  margin-bottom: 30px;
}

h2 {
  color: #f8893e;
  border-bottom: 2px solid #f8893e;
  padding-bottom: 5px;
}

.platos,
.postres,
.bebidas,
.guarniciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plato,
.postre,
.bebida,
.guarnicion {
  width: 250px;
  background-color: #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  max-height: 200px;
  border-bottom: 1px solid #333;
}

h3 {
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  color: #f3af82;
  padding: 10px;
  margin: 0;
}
p {
  font-size: 16px;
  color: #f3af82;
  padding: 10px;
  margin: 0;
}

.precio {
  font-size: 16px;
}
